[flake8]
# Déclare spark et dbutils comme variables globales Databricks
builtins = spark, dbutils

# Ignorer certaines règles spécifiques dans TOUT le projet
ignore = 
    E501,
    F821,
    E225

# Ou étendre la limite de longueur de ligne au lieu de l'ignorer
max-line-length = 100

# Fichiers et dossiers à exclure de l'analyse
exclude =
    .git,
    .venv,
    venv,
    __pycache__,
    .ipynb_checkpoints